:root {
    /* font */
    --font: 'Helvetica', 'Arial', 'Sans-Serif';
    --font-size-huge: 3rem;/*2.5-2.75*/
    --font-size-large: 2rem;
    --font-size-medium: 1.5rem;
    --font-size-normal: 1rem;
    --font-size-small: 0.75rem;
    /* color */
    --color-body-background: rgb(245, 245, 245);
    --color-header-background: hsl(205, 70%, 60%);
    --color-sticky-header-background: hsl(205, 70%, 55%);
    --color-footer-background: var(--color-header-background);
    --color-text: rgb(50, 50, 50);
    --color-link: rgb(150, 150, 150);
    --color-header-text:var(--color-body-background);
    --color-separator: rgb(200, 200, 200);
    /* width */
    --width-page: 50wv;
    --width-page-min: 40rem;
    --width-page-max: 55rem;
    --width-normal: 980px;
    --width-wide: 100%;
    --width-narrow: 490px;
    /* height */
    --height-top-header: 15rem;/* 13 */
    --height-sticky-header: 5rem;/* 4.5 */
    --height-total-header: calc(var(--height-top-header) + var(--height-sticky-header));
    --height-bottom-footer: var(--height-top-header);
    --height-sticky-footer: var(--height-sticky-header);
    /* margin */
    --header-title-left-margin: 0.75em;
    --header-title-bottom-margin: 0.5em;
    --nav-item-margin: 1em;
    --page-margin: 2rem;
    /* box-shadow */
    --box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

/* body */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-body-background);
}
h1 {
    font-size: var(--font-size-large);
    font-family: var(--font);
    color: var(--color-text);
}
h2 {
    font-size: var(--font-size-medium);
    font-family: var(--font);
    color: var(--color-text);
}
h3 {
    font-size: var(--font-size-normal);
    font-family: var(--font);
    color: var(--color-text);
}
p {
    font-size: var(--font-size-normal);
    font-family: var(--font);
    color: var(--color-text);
}

/* header and footer */
header {
    /* fixed header */
    position: fixed;
    /* full width header */
    width: 100%;
    /* other */
    /*background-color: var(--color-header-background);
    /*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);*/
}
/*@supports (-webkit-backdrop-filter: none) {
    header {
        background-color: rgba(255, 255, 255, 0.75);
        -webkit-backdrop-filter: blur(10px);
    }
}*/
#top-header {
    /* top header size */
    width: 100%;
    height: var(--height-top-header);
    /* header transition on scroll */
    transition: height 0.25s ease;/* make into variable at top */
    /* color */
    background-color: var(--color-header-background);
    /* position content inside header */
    position: relative;
    /* header background */
    background-image:
    linear-gradient(to bottom, hsla(205, 70%, 60%, 0), hsla(205, 70%, 60%, 1), hsla(205, 70%, 60%, 1)),
    url(/images/header_img.svg);

}
#sticky-header {
    /* sticky header size */
    width: 100%;
    height: var(--height-sticky-header);
    /* align header content with display flex */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* color */
    background-color: var(--color-sticky-header-background);
}
footer {
    /* full width footer*/
    width: 100%;
    /* other */
    margin-top: 20px;
    /*border-top: 1px solid var(--color-separator);*/
    background-color: var(--color-footer-background);
}
#sticky-footer {
    /* top header size */
    width: 100%;
    height: var(--height-sticky-footer);
    /* align footer content with display flex */
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#bottom-footer {
    /* bottom footer size */
    width: 100%;
    height: var(--height-bottom-footer);
    /* footer transition on scroll */
    transition: height 0.25s ease;/* make into variable at top */
}
header nav, footer nav {
    margin: auto;
}
header nav ul, footer nav ul {
    /* no ul margin or padding */
    padding: 0;
    margin: 0;
    /* align ul content with diaplay flex */
    display: flex;
    justify-content: center;
    /* other */
    list-style: none;
    font-family: var(--font);
    font-weight: bold;
}
header nav ul li, footer nav ul li {
    /* padding around navigation items */
    margin: 0;
}
#header-title {
    font-size: var(--font-size-huge);
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--color-header-text);
    margin-left: var(--header-title-left-margin);
    margin-bottom: var(--header-title-bottom-margin);
    margin-top: 0;
}

/* main */
main {
    margin: auto;
    width: var(--width-page);
    min-width: var(--width-page-min);
    max-width: var(--width-page-max);
}
#main-container {
    width: 100%;
    padding-top: var(--height-total-header);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: padding-top 0.25s ease;/* make into variable at top */
}
.page {
    width: 100%;
    margin-top: 20px;
    padding: 2rem;
    box-sizing: border-box;
    background-color: #fff;
    overflow: auto;
    box-shadow: var(--box-shadow);
}
section {
    padding: 0;
}


/* links */
a {
    text-decoration: none;
    color: var(--color-link);
}
a:hover {
    text-decoration: underline;
}
.headerlink {
    font-size: var(--font-size-normal);
    color: var(--color-header-text);
    margin: var(--nav-item-margin);
}
.footerlink {
    font-size: var(--font-size-huge);
    color: var(--color-header-text);
    margin: var(--nav-item-margin);
}

/* iframe (for contact page) */
iframe {
    display: block;
    margin: auto;
}