---
layout: default
title: Page Title
---
<!-- About section -->
<div class="page-container">
    <div class="page-info">
        <section>
            <h2><i class="fas fa-door-open"></i></h2>
            <p>Welcome</p>
        </section>
    </div>
    <div class="page">
        <section>
            {% for post in site.categories.about %}
                {{ post.content }}
            {% endfor %}
        </section>
    </div>
</div>

<!-- News section -->
<div class="page-container">
    <div class="page">
        <section>
            {% for post in site.categories.news %}
                {{ post.content }}
            {% endfor %}
        </section>
    </div>
</div>