---
layout: default
title: Résumé
---
<!-- Education -->
<div class="page-container">
  <div class="page-info">
      <section>
          <h2 class="page-info-icon"><i class="fas fa-user-graduate"></i></h2>
          <p class="page-info-text">Education</p>
      </section>
  </div>
  <div class="page">
      <section>
          {% for post in site.categories.education %}
              <h3>{{ post.title }}, <i style="font-weight:normal">{{ post.institution }}</i></h3>
              {{ post.content }}
          {% endfor %}
      </section>
  </div>
</div>

<!-- Employment -->
<div class="page-container">
  <div class="page-info">
      <section>
          <h2 class="page-info-icon"><i class="fas fa-user-tie"></i></h2>
          <p class="page-info-text">Employment</p>
      </section>
  </div>
  <div class="page">
      <section>
          {% for post in site.categories.employment %}
              {{ post.content }}
          {% endfor %}
      </section>
  </div>
</div>

<!-- Publications -->
{% assign postsByYear = site.categories.publications | group_by_exp:"publication", "publication.date | date: '%Y'" %}
{% for year in postsByYear %}
  <div class="page-container">
    <div class="page">
      <section>
        <h2>{{ year.name }}</h2>
        <ul>
          {% for publication in year.items %}
            <p>
              <a style="font-weight: bold;" href="{{ publication.doiurl }}" title="{{ publication.papertitle }}">{{ publication.papertitle }}</a><br>
              {{ publication.date | date_to_string }} &bull; {{ publication.authors }}<br>
              <i>{{ publication.publisher }}</i>
            </p>
          {% endfor %}
        </ul>
      </section>
    </div>
  </div>
{% endfor %}