<!DOCTYPE html>
<html>
	<head>
		<!-- title shown in browser tabs, etc. -->
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<!-- fontawesome stylesheet -->
		<link href="/fontawesome-free-5.15.1-web/css/all.css" rel="stylesheet">
		<!-- favicon -->
		<link rel="icon" type="image/png" href="/images/favicon48.png" sizes="48x48">
		<link rel="icon" type="image/png" href="/images/favicon32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/images/favicon16.png" sizes="16x16">
		<!-- JavaScript -->
		<script type="text/javascript" src="/js/header.js" defer></script>
	</head>

	<body>
		<header>
			<div id="top-header">
				<h1 id="header-title">Page Title</h1>
			</div>
			<div id="sticky-header">
				<nav>
					<ul>
						<li><a class="headerlink" href="/">Home</a></li>
						<li><a class="headerlink" href="/news">News</a></li>
						<li><a class="headerlink" href="/resume">Résumé</a></li>
						<li><a class="headerlink" href="/contact">Contact</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main>
			<div id="main-container">
				{{ content }}
			</div>
		</main>

		<footer>
			<div id="sticky-footer">
				<nav>
					<ul>
						<li><a class="footerlink" href="https://www.linkedin.com/in/dmtveit"><i class="fab fa-linkedin"></i></a></li>
						<li><a class="footerlink" href="https://www.researchgate.net/profile/Daniel_Tveit"><i class="fab fa-researchgate"></i></a></li>
						<li><a class="footerlink" href="https://github.com/dmtveit"><i class="fab fa-github-square"></i></a></li>
					</ul>
				</nav>
			</div>
			<div id="bottom-footer"></div>
		</footer>
	</body>
</html>